@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject HttpClient Http
@using System.Security.Claims

<Layout Style="height: 100vh;">
    <Header Class="header">
        <div class="menu_horizontal">
            <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Horizontal" DefaultSelectedKeys=@(new []{"1"})>
                <MenuItem Key="1" RouterLink="/" RouterMatch="NavLinkMatch.All">
                    <Icon Type="home" Theme="outline"></Icon>
                    首页
                </MenuItem>
                @{
                    RenderFragment sub1Title =
                    @<span>
                        <Icon Type="table" Theme="outline"></Icon>
                        <span>数据管理</span>
                    </span>;
                }
                <SubMenu Key="sub1" TitleTemplate=@sub1Title>
                    <MenuItem Key="2" RouterLink="/records">账单管理</MenuItem>
                    <MenuItem Key="3" RouterLink="/categories">分类管理</MenuItem>
                    <MenuItem Key="4" RouterLink="/accounts">账户管理</MenuItem>
                </SubMenu>
                <MenuItem Key="5" RouterLink="/settings">
                    <Icon Type="user" Theme="outline"></Icon>
                    个人中心
                </MenuItem>
                <AuthorizeView Policy="Admin">
                    <MenuItem Key="6" RouterLink="/admin">
                        <Icon Type="team" Theme="outline"></Icon>
                        用户管理
                    </MenuItem>
                </AuthorizeView>
                <MenuItem Key="7" RouterLink="/logout">
                    <Icon Type="logout" Theme="outline"></Icon>
                    注销
                </MenuItem>
            </Menu>
        </div>
        <div class="site-button-ghost-wrapper auth">
            <AuthorizeView>
                <Authorized>
                    你好, <b>@context.User.Identity.Name</b> !
                    <Button Type="link" Danger OnClick="@(() => { navigationManager.NavigateTo("/logout"); })">注销</Button>
                </Authorized>
                <NotAuthorized>
                    <Button Type="link" OnClick="@(() => { navigationManager.NavigateTo("/login"); })">登录</Button>
                    <Button Type="link" OnClick="@(() => { navigationManager.NavigateTo("/register"); })">注册</Button>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </Header>
    <Layout>
        <Sider Width="256" Class="site-layout-background menu_inline">
            <Menu Mode="MenuMode.Inline"
                  DefaultSelectedKeys=@(new[] {"1"})
                  DefaultOpenKeys=@(new[] {"sub1"})
                  Style="height: 100%; border-right: 0;">
                <MenuItem Key="1" RouterLink="/" RouterMatch="NavLinkMatch.All">
                    <Icon Type="home" Theme="outline"></Icon>
                    首页
                </MenuItem>
                @{
                    RenderFragment sub1Title =
                    @<span>
                        <Icon Type="table" Theme="outline"></Icon>
                        <span>数据管理</span>
                    </span>;
                }
                <SubMenu Key="sub1" TitleTemplate=@sub1Title>
                    <MenuItemGroup Key="group1" Title="记录管理">
                        <MenuDivider />
                        <MenuItem Key="2" RouterLink="/records">账单管理</MenuItem>
                    </MenuItemGroup>
                    <MenuItemGroup Key="group2" Title="选项管理">
                        <MenuDivider />
                        <MenuItem Key="3" RouterLink="/categories">分类管理</MenuItem>
                        <MenuItem Key="4" RouterLink="/accounts">账户管理</MenuItem>
                    </MenuItemGroup>
                </SubMenu>
                <MenuItem Key="5" RouterLink="/settings">
                    <Icon Type="user" Theme="outline"></Icon>
                    个人中心
                </MenuItem>
                <AuthorizeView Policy="Admin">
                    <MenuItem Key="6" RouterLink="/admin">
                        <Icon Type="team" Theme="outline"></Icon>
                        用户管理
                    </MenuItem>
                </AuthorizeView>
            </Menu>
        </Sider>
        <Layout Class="long_content">
            <div style="min-height: 100%;">
                <Content Style="padding: 12px 12px 0; position: relative;">
                    @Body
                </Content>
                <Footer Style="text-align: center;">Copyright © 2021 Kougami<br />Powered by .NET 5.0 on Blazor WebAssembly</Footer>
            </div>
        </Layout>
    </Layout>
</Layout>

<style>

    @@media (min-width: 1400px) {
        .menu_horizontal {
            display: none;
        }
        .menu_inline {
            display: block;
        }
    }

    @@media (max-width: 1400px) {
        .menu_horizontal {
            display: block;
        }
        .menu_inline {
            display: none;
        }
        .ant-menu-horizontal  {
            display: flex;
            justify-content: center;
        }
        .auth {
            display: none;
        }
    }

    .auth {
        color: white;
        float: right;
    }

    .site-layout-background {
        background: #fff;
    }

    .long_content {
        overflow: scroll;
        min-height: 100%;
    }
    .long_content::-webkit-scrollbar {
        display: none;
    }

    .back_card {
        padding: 24px;
        margin: 12px;
        position: relative;
        background: #fff;
        border-radius: 10px;
    }

</style>

@code{

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await authenticationStateTask;
        ClaimsPrincipal user = authState.User;
        if (!user.Identity.IsAuthenticated)
        {
            navigationManager.NavigateTo("/login");
        }
    }

}